* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
    font-size: 24px;
    font-weight: 600px;
    line-height: 30px;
}

.link-reader {
    color: #989d9c;
    margin-right: 23px;
    cursor: pointer;
}

.button-header {
    width: 130px;
    height: 41px;
    border-radius: 20px;
    background-color: #665ae1;
    color: #ffffff;
    border: none;
}

.dog-bath {
    width: 568px;
    height: 500px;
    background-color: #ffffff;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900px;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    text-align: center;
}

h2 {
    font-weight: 500px;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    width: 515px;
    font-weight: 400px;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main {
    width: 239px;
    height: 64px;
    border-radius: 30px;
    background: red
    border: none;
    color: #000000;
    font-weight: 700px;
    font-size: 28px;
    line-height: 34.13px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
}

@media screen and (max-width: 1300px) {

    header {
        display: none;
    }

    .dog-bath {
        width: 354px;
        height: 317px;
        margin: 149px 22px 0 14px;
        display: block;
    }

    section {
        display: block;
        margin: 24px 63px 133px 64px;
    }

    h1 {
        width: 263px;
        height: 52px;
        font-size: 50px;
        line-height: 60.95px;
    
    }

    h2 {
        width: 240px;
        height: 37px;
        font-size: 30px;
        line-height: 36.57px;
        margin-top: 7px;
        margin-bottom: 17px;
    }

    p {
        display: none;
    }
    
    
}